<div class="todo_main">
  <div class="Title">
    <h3>TODO List</h3>
  </div>
  <div class="content">
    <form #todoForm="ngForm" (ngSubmit)="addTask(todoForm.value)" >
        <input [(ngModel)]="taskEntry" name="task" #task="ngModel" >
        <button type="submit">Add Task</button>
    </form>
    <p *ngIf="taskEntry == '' || taskEntry == null">Type in a new Task</p>
    <p *ngIf="taskEntry !== '' && taskEntry != null">Typing: {{ taskEntry }}</p>
  </div>
  <div class="task_list">
    <h4>Task List:</h4>
    <ul>
      <li *ngFor="let item of tasks$ | async; let i = index">
          <span>
            <input type="checkbox" (change)="selectItem($event, item._id)">
            {{ item.task }}
            <button type="button" (click)="removeTask(item)">X</button>
          </span>
      </li>
    </ul>

    <button type="button" (click)="removeSelectedTask()" [disabled]="selectedItems.length == 0">Delete Selected</button>
  </div>
</div>
